@import url("https://fonts.googleapis.com/css?family=Lilita+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon";
  src: url("/fonts/Pokemon Solid.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    "Helvetica Neue", sans-serif;
  --twitchAlpha: 1;
  --twitchColor: rgba(145, 70, 255, var(--twitchAlpha));
}

.MuiBox-root {
  margin: 0;
}

#__next {
  padding: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

kbd {
  border: 2px solid #3a3944;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.825rem;
  box-shadow: inset 0 -1px 0 0 #3a3944;
  cursor: default;
  user-select: none;
}

.is-shiny::before {
  position: relative;
  transfrom: rotate(45deg);
  content: "";
  display: block;
  width: 200%;
  height: 45px;
  animation: shine 0.7s ease 0 alternate infinite;
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
