@import url("https://fonts.googleapis.com/css?family=Lilita+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon";
  src: url("/fonts/Pokemon Solid.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    "Helvetica Neue", sans-serif;
  --twitchAlpha: 1;
  --twitchColor: rgba(145, 70, 255, var(--twitchAlpha));
}

.MuiBox-root {
  margin: 0;
}

#__next {
  padding: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

kbd {
  border: 2px solid #3a3944;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.825rem;
  box-shadow: inset 0 -1px 0 0 #3a3944;
  cursor: default;
  user-select: none;
}

.is-shiny {
  position: absolute;

  background: linear-gradient(-185deg, transparent -20%, #e2e2e28f 110%);
  display: block;
  width: 200%;
  height: 45px;
  z-index: 100;
}

.fancy-bg {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}
.discord-bg {
  background: linear-gradient(45deg, #7289da 50%, #869adf 70%);
}

@media screen and (min-width: 800px) {
  .cardContainer {
    max-width: 28.125em;
    max-height: 37.5em;
  }
}

.cardContainer {
  width: 80vw;
  height: 50vh;
}

.poke-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e0e0e0;
  }
}

html {
  scrollbar-color: #6969dd #e0e0e0;

  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;

  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
}
